body{
		font-family:'Oswald',calibri, arial;
		font-size:1.2em;
		/*text-shadow: 1px 1px #ccc;*/
		/*color:white;*/
}

.section, .slide{
	background-image: url(images/paper.png);
	background-size: tile;
 }
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 5em;	
}
h2{
	font-size: 3em;	
}
h3{
	font-size:1.5em;
}
.section{
	text-align:center;
}
img{
border-radius: 6px 6px 6px 6px;
	box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
}
#menu li{
	display:inline-block;
	padding: 1px 20px;
	color: #ccc;
}
#menu li.active{
   color: #fff;
}
a{
	color:#ccc;
	text-decoration:none;
}
a:hover{
	color:#fff;
}
.inline-link{
	color: green;
	text-decoration:underline;
}
.inline-link:hover{
	color: #00aa00;
}
.controlArrow{
	/*border-width:20px;*/

	

}
.controlArrow.prev{
width:103px;
	height:94px;
	border-width: 0;
	left:50px;
	background-image:url('images/arrow-prev.png');
	border-color: transparent transparent transparent transparent;
	
}
.controlArrow.next{
width:103px;
	height:94px;
	right:50px;
	border-width: 0;
	background-image:url('images/arrow-next.png');
	border-color: transparent transparent transparent transparent;
	

}
ul li{
	display:inline-block;
}
#menu{
	background-color:#122A12;
		position:fixed;
	top:0;
	left:0;
	height: 10%;
	/*background: #fff;*/
	z-index: 9999;
	width: 100%;
	padding: 0;
	margin:0;
}

.fullPage-tooltip {
		color:black;
}

/*#slide1-1{
	background-image: url(images/books.jpg);

 }
 #slide2-1{
	background-image: url(images/notebook.png);

 }
 #slide2-2{
	background-image: url(images/notebook2.png);
 }*/
	
